:root{
    --background-page: #465902;
    --color-section: #ffffff; 
    --color-title-section: #BF9E75;  
    --box-text: #1e260180;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--background-page);
}
/* header */
header{
    position: absolute;
    background: transparent;
    width: 100%;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}
header>.img-sedecti{
    width: 7rem;
    height: 7rem;
}
header>.img-sedecti>img{
    height: 100%;
    width: 100%;
}
header>.menu{
    display: none;
    justify-content: center;
    font-size: 3rem;
    color: #ffffff;
    box-shadow: 0 0 2px 2px #000000;
    margin: 2%;
    cursor: pointer;
    transition: .3s;
}
header>.sections>.close{
    width: 100%;
    height: auto;
    /* background-color: #000000; */
    display: none;
    justify-content: end;
    align-items: center;
}
header>.sections>.close>p{
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: #ffffff;
    box-shadow: 0 0 2px 2px #000000;
    border-radius: 100%;
    cursor: pointer;
    transition: .3s;
}
header>.sections{
    display: flex;
    justify-content: end;
    align-items: end;
    margin: 0 2rem;
}
header>.sections>a{
    color: var(--color-section);
    margin: 0 15px;
    font-family: 'AbeeZee';
    font-size: calc(2rem - 40%);
    cursor: pointer;
    text-shadow: 0 2px 5px #000000;
    text-decoration: none;
    padding: 15px;
    border-radius: 10px;
    transition: .5s;
}
/* fim header */
/* content-page */
.content-page{
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    z-index: 1;
}
.functions,.influenction,.locale,.records{
    margin: 2% 0;
}
.title{
    color: var(--color-title-section);
    font-family: 'Belanosima';
    font-style: normal;
    font-weight: 500;
    font-size: calc(5rem - 50%);
    text-align: center;
    text-shadow: 0 3px 5px #000000;
    margin: 1% 0;
}
/* intro */
.content-page>.intro{
    z-index: -1;
    width: 100%;
    height: 100vh;
    position: relative;
}
.content-page>.intro>.video-background{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    overflow: hidden;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: start;
    
}
.content-page>.intro>.video-background>video{
    width: 120rem;
    height: auto;
    
}
.content-page>.intro>.content-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
.content-page>.intro>.content-title>h1{
    color: #ffffff;
    font-family: 'Belanosima';
    font-size: calc(5rem - 100%);
    text-align: center;
    font-weight: 500;
    font-style: 0;
    background-image: linear-gradient(to right, #F2F2F2, #04BFAD);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.content-page>.intro2{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-page>.intro2>.content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.content-page>.intro2>.content>.content-paragraph{
    width: 50rem;
    height: auto;
    padding: 5%;

}
.content-page>.intro2>.content>.content-paragraph>p{
    width: auto;
    height: auto;
    color: #ffffff;
    font-family: 'Belanosima';
    font-size: calc(2.5rem - 40%);
    text-align:justify ;
}
.content-page>.intro2>.content>.content-img{
    width: 58rem;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.content-page>.intro2>.content>.content-img>img{
    width: 100%;
    height: 100%;
}
/* fim intro */
/* function */
.content-page>.functions{
    width: 100%;
    height: auto;
    margin: 0 0 10rem 0;
}
.content-page>.functions>.cards{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.content-page>.functions>.cards>.card{
    position: relative;
    margin: 2%;
    width: 25rem;
    height: 30rem;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto 100%;
    border-radius: 10px;
    box-shadow: 0px 3px 8px 0px  #1E2601;
}
#card1{
    background-image: url("https://img.portalmarcossantos.com.br/wp-content/uploads/2025/02/17141731/Sedecti-certifica-profissionais-para-ampliar-disponibilizacao-de-Dados-Abertos-no-Amazonas.jpg");
}
#card2{
    background-image: url("https://s2-g1.glbimg.com/SuFxLc7B4Y8cZvCSbNA9AJWzhVg=/0x0:768x512/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2024/A/1/kRYuQ4TeauM3A1nsjuzA/amazonas-bate-recorde-de-importacoes-em-2024-indica-sedecti-foto-bruno-leao-sedecti.jpeg") ;
}
#card3{
    background-image: url("https://amazoniareal.com.br/wp-content/uploads/2023/12/PIM-MANAUS-3-slide.jpg");
}
.content-page>.functions>.cards>.card>.box-text{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    background-color: var(--box-text);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 9px 9px;
    /* padding: 0 1%; */
}
.content-page>.functions>.cards>.card>.box-text>p{
    font-family: 'Belanosima';
    color: #ffffff;
    margin: 0 5%; 
    font-size: calc(2rem - 55%);
    text-align: justify;
}
/* fim function */
/* influenction */
.content-page>.influenction{
    width: 100%;
    height: auto;
}
.content-page>.influenction>.content-img-title{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.content-page>.influenction>.content-img-title>.content-text{
    width: 50%;
    height: auto;
    background-color: rgb(30, 38, 1, 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-page>.influenction>.content-img-title>.content-text>p{
    color: #ffffff;
    margin: 20%;
    font-family: 'Belanosima';
    font-style: normal;
    font-weight: 400;
    font-size: calc(2.5rem - 70%);
    text-align: justify;
}
#content1{
    background-image: url("https://as1.ftcdn.net/v2/jpg/03/71/68/12/1000_F_371681270_IbuKM3xiQ2ZcqrwNzQGGwFHk6QZPZhzi.jpg");
    display: flex;
    justify-content: end;
}
#content2{
    background-image: url("https://www.gov.br/suframa/pt-br/assuntos/invest-pt/porqueinvestirlocal.jpg");

}
#content3{
    display: flex;
    justify-content: end;
    background-image: url("https://classic.exame.com/wp-content/uploads/2019/07/zona-franca-suframa-reproduc3a7ao.jpg?quality=70&strip=info&w=1000");
}
#content4{
    background-image: url("https://bergsondev.github.io/quem_e_sedecti/img/amazonasmapa.png");
}
.content-page>.influenction>.content-btn{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 0 ;
}
.content-page>.influenction>.content-btn>.btn{
    width: 20rem;
    height: 20rem;
    background-color: rgb(50, 64, 1, 80%);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 0 4px 5px 1px rgb(191, 158, 117, 25%);
    transition: .5s;
}
.content-page>.influenction>.content-btn>.btn>p{
    margin: 14%;
    text-align: justify;
    font-size: 1.3rem;
    font-family: 'Belanosima';
    color: #ffffff;
}
.content-page>.locale{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content-page>.locale>a{
    text-decoration: none;
    width: 80%;
    height: calc(100vh - 20rem);
}
.content-page>.locale>a>.content-locale{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-image: url("https://bergsondev.github.io/quem_e_sedecti//img/sedecti-sede.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100rem;
    display: flex;
    align-items: end;
}
.content-page>.locale>a>.content-locale>.content-text{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.content-page>.locale>a>.content-locale>.content-text>p{
    font-family: 'Belanosima';
    font-weight: 400;
    font-size: calc(2.5rem - 50%);
    color: #000000;
    margin: 0 2%;
}
/* fim influenction */
/* records */
.content-page>.records{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content-page>.records>.card{
    width: 60%;
    height: 50vh;
    border-radius: 20px;
    background-image: url("https://www.sedecti.am.gov.br/wp-content/uploads/2024/11/IMG_4464-768x512.jpg");
    background-repeat: no-repeat;
    background-size: 80rem;
    background-position: top;
    display: flex;
    justify-content: end;
}
.content-page>.records>.card>.box-text{
    width: 50%;
    height: auto;
    background-color: rgb(30, 38, 1, 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 20px 20px 0;
}
.content-page>.records>.card>.box-text>p{
    color: #ffffff;
    font-family: 'Belanosima';
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    margin: 10%;
    text-align: justify;
}
/* fim records */
/* footer */
footer{
    width: 100%;
    height: auto;
    background-color: #7C8C03;
    display: flex;
    justify-content: space-between;
}
footer>div{
    margin: 2%;
    width: 50%;
    display: flex;
   
}
footer>div>a{
    text-decoration: none;
}
footer>div>a>p{
    font-family: 'Belanosima';
    color: #1E2601;
    font-weight: 500;
    font-style: normal;
    font-size: 1.3rem;
    transition: .2s;
}
footer>.sedecti{
    justify-content: center;
    align-items: center;
}
footer>.creator{
    flex-direction: row;
    justify-content: end;

}
footer>.creator>a{
    margin: 0 1%;
}
/* fim footer */
/* animation */
/* --- animation meu ---*/
header>.sections>a:hover{
    color: #BF9E75;
    background-color: #465902;
    text-shadow: 0 !important;
    text-decoration: dotted;
}

header>.menu:hover, header>.sections>.close>p:hover{
    color: #BF9E75;
    box-shadow: 0 0 2px 2px #ffffff;
    
}

.content-page>.influenction>.content-btn>.btn:hover{
    background-color: #BF9E75;

}

footer>div>a>p:hover{
    color: #BF9E75 ;
}
/* --- fim animation meu ---*/
/* --- animista - site na qual disponibiliza animações complexas ---*/
/* menu right */
.slide-in-right {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2025-3-4 18:34:0
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  
/* fim menu right */
/* menu righ saida */
.slide-out-right {
	-webkit-animation: slide-out-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2025-3-4 18:35:34
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-out-right
 * ----------------------------------------
 */
 @-webkit-keyframes slide-out-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
  }
  @keyframes slide-out-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
  }
  
/* fim menu righ saida */


/* bootom flash */
.slide-in-blurred-bottom {
	-webkit-animation: slide-in-blurred-bottom 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-in-blurred-bottom 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2025-3-4 17:48:56
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-blurred-bottom {
    0% {
      -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
              transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-blurred-bottom {
    0% {
      -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
              transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  
/* fim bottom flash */
/* bottom tapa */
.slide-in-elliptic-bottom-fwd {
	-webkit-animation: slide-in-elliptic-bottom-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-elliptic-bottom-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2025-3-4 17:34:28
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-elliptic-bottom-fwd
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-elliptic-bottom-fwd {
    0% {
      -webkit-transform: translateY(600px) rotateX(30deg) scale(0);
              transform: translateY(600px) rotateX(30deg) scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% -1400px;
              transform-origin: 50% -1400px;
      opacity: 1;
    }
  }
  @keyframes slide-in-elliptic-bottom-fwd {
    0% {
      -webkit-transform: translateY(600px) rotateX(30deg) scale(0);
              transform: translateY(600px) rotateX(30deg) scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% -1400px;
              transform-origin: 50% -1400px;
      opacity: 1;
    }
  }
  
.slide-in-elliptic-bottom-fwd-atraso {
	-webkit-animation: slide-in-elliptic-bottom-fwd 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
	        animation: slide-in-elliptic-bottom-fwd 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
}
.slide-in-elliptic-bottom-fwd-atraso2 {
	-webkit-animation: slide-in-elliptic-bottom-fwd 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
	        animation: slide-in-elliptic-bottom-fwd 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
}
/* fim bottom tap */
/* --- fim animista --- */
/* fim animation */


/* responsividade */

@media screen and (max-width:1490px) {
    .content-page>.locale>a>.content-locale{
        align-items: none;
        justify-content: none;
        
    }
    .content-page>.locale>a>.content-locale>.content-text{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: start;
        justify-content: none;
        flex-direction: column;
    }
    .content-page>.locale>a>.content-locale>.content-text>p{
        font-size: 1.5rem;
        margin: 0 2%;
    }
    
}
@media screen and (max-width:1415px) {
    header>.menu{
        display: flex;
    }
    header>.sections>.close{
        display: flex;
    }
    header>.sections{
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #1E2601;
        z-index: 3;
    }
    header>.sections>p,header>.sections>a{
        margin: 10px;
        font-size: 1.3rem;
    }
    
}

@media screen and (max-width:1766px) {
    .content-page>.intro>.video-background>video{
        width: auto;
        height: 100vh;
    }
    
}
@media screen and (max-width:1362px) {
    .title{
        font-size: 3rem;
    }
    
}
@media screen and (min-width:985px) and (max-width:1680px) {
    .content-page>.influenction>.content-img-title>.content-text>p{
        font-size: calc(1.5rem - 10%);
        /* height: 30vh; */
        margin: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width:984px) {
    .content-page>.influenction>.content-img-title>.content-text{
        width: 100%;
    }
    .content-page>.influenction>.content-img-title>.content-text>p{
        font-size: 1.2rem;
    }
    .content-page>.influenction>.content-img-title{
        background-size: auto 110vh;
    }
}

@media screen and (min-width:832px) and (max-width:1594px) {
    .content-page>.records>.card{
        width: 80%;
    }
    .content-page>.records>.card>.box-text>p{
        font-size: calc(1.5rem - 20%);
        margin: 5%;
    }
}

@media screen and (min-width:375px) and (max-width:831px) {
    .content-page>.records>.card{
        width: 80%;
        height: auto;
    }
    .content-page>.records>.card>.box-text{
        width: 100%;
        border-radius: 20px;
    }
}

@media screen and (max-width:596px) {
    footer{
        display: flex;
        flex-direction: column;
    }
    footer>div{
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    footer>.creator{
        width: auto;
        flex-direction: column;
    }
    footer>.creator>a>p{
        margin: 3% 0;
    }
    footer>div>a>p{
        width: auto;
        font-size: 1.2rem;
        margin: 0;
        padding: 0;
        text-align: center;
    }
}

@media screen and (max-width:402px){
    .content-page>.functions>.cards>.card>.box-text>p{
        font-size: calc(2rem - 80%);
    }
}

@media screen and (max-width:374px) {
    .content-page>.records>.card{
        width: 85%;
        height: 80vh;
    }
    .content-page>.records>.card>.box-text{
        width: 100%;
        border-radius: 20px;
    }
    .content-page>.records>.card>.box-text>p{
        font-size: 1.2rem;
    }

}
/* fim responsividade */